<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroine_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,20},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,38},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heroine_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,38},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroine.pvr.ccz</string>
            <key>size</key>
            <string>{50,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b186df9b1985b94cc0ba2a135e775373:6fc0c24be5a5b7720fe408dd5cdf6ae5:728abc4397407dcd44580a6b3346ed48$</string>
            <key>textureFileName</key>
            <string>heroine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
